    <!--====== FOOTER PART START ======-->
    {% load static %} 
    <hr>
    
    <footer id="footer" class="footer-area bg_cover" style="background-image: url(assets/images/footer-bg.jpg)" style="box-shadow: 0px 10px 5px #888, 0px -10px 5px #888;">
        <div class="container">
            <div class="footer-widget pt-30 pb-70">
                <div class="row">
                   
                    <div class="col-lg-4 col-sm-6 order-sm-3 order-lg-2">
                        <div class="footer-link pt-40">
                            <div class="footer-title">
                                <h5 class="title" >Services</h5>
                            </div>
                            <ul>
                                <li><a href="#services"><i class="fa fa-file" aria-hidden="true" style="color: #4D96FF;padding:10px"></i>File & Media management</a></li>
                                <li><a href="#services"><i class="fa fa-tasks" aria-hidden="true" style="color: #4D96FF;padding:10px"></i>Contact & Task management</a></li>
                                <li><a href="#services"><i class="fa fa-line-chart" aria-hidden="true" style="color: #4D96FF;padding:10px"></i>Other Services</a></li>
                               
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-4 col-sm-6 order-sm-4 order-lg-3">
                        <div class="footer-link pt-40">
                            <div class="footer-title">
                                <h5 class="title">About Us</h5>
                            </div>
                            <ul>
                                <li><i class="fa fa-paper-plane" aria-hidden="true" style="color: #4D96FF;padding:10px"></i><a href="#about"> Overview</a></li>
                                <li><i class="fa fa-paper-plane" aria-hidden="true" style="color: #4D96FF;padding:10px"></i><a href="#services">Why us</a></li>
                                <li><i class="fa fa-paper-plane" aria-hidden="true" style="color: #4D96FF;padding:10px"></i><a href="#blog">Gallery</a></li>
                                <li><i class="fa fa-paper-plane" aria-hidden="true" style="color: #4D96FF;padding:10px"></i><a href="#contact">Contact</a></li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-4 col-sm-6 order-sm-2 order-lg-4">
                        <div class="footer-contact pt-40">
                            <div class="footer-title">
                                <h5 class="title">Contact Info</h5>
                            </div>
                            <div class="contact pt-10">
                                <p class="text"><i class="fa fa-map-marker" aria-hidden="true" style="color: #4D96FF;padding:10px"></i>Akshaydeep, 146 Sathe Marg Near Mehadia Square, Dhantoli  <br>
                                    Nagpur,India.</p>
                                <p class="text"><i class="fa fa-envelope" aria-hidden="true" style="color: #4D96FF;padding:10px"></i>admin@cloud.virtualcaoffice.com</p>
                                <p class="text"><i class="fa fa-phone" aria-hidden="true" style="color: #4D96FF;padding:10px"></i>+91  988 1164 000</p>

                                <ul class="social mt-40">
                                    <li><a href="https://www.facebook.com"><i class="lni-facebook" style="color: #4D96FF;"></i></a></li>
                                    <li><a href="https://www.instagram.com"><i class="lni-instagram" style="color: #4D96FF;"></i></a></li>
                                    <li><a href="https://www.linkedin.com"><i class="lni-linkedin" style="color: #4D96FF;"></i></a></li>
                                </ul>
                            </div> <!-- contact -->
                        </div> <!-- footer contact -->
                    </div>
                </div> <!-- row -->
            </div> <!-- footer widget -->
            <div class="footer-copyright text-center">
                <p class="text">© 2022 Crafted by <a href="https://uideck.com" rel="nofollow">Neubotics IT</a> All Rights Reserved.</p>
            </div>
        </div> <!-- container -->
    </footer>
    
    <!--====== FOOTER PART ENDS ======-->
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->  




    <!--====== Jquery js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/vendor/jquery-1.12.4.min.js'%}"></script>
    <script src="{% static 'Nextcloud_App/assets/js/vendor/modernizr-3.7.1.min.js'%}"></script>
    
    <!--====== Bootstrap js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/popper.min.js'%}"></script>
    <script src="{% static 'Nextcloud_App/assets/js/bootstrap.min.js'%}"></script>
    
    <!--====== Slick js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/slick.min.js'%}"></script>
    
    <!--====== Isotope js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static 'Nextcloud_App/assets/js/isotope.pkgd.min.js'%}"></script>
    
    <!--====== Counter Up js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/waypoints.min.js'%}"></script>
    <script src="{% static 'Nextcloud_App/assets/js/jquery.counterup.min.js'%}"></script>
    
    <!--====== Circles js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/circles.min.js'%}"></script>
    
    <!--====== Appear js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/jquery.appear.min.js'%}"></script>
    
    <!--====== WOW js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/wow.min.js'%}"></script>
    
    <!--====== Headroom js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/headroom.min.js'%}"></script>
    
    <!--====== Jquery Nav js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/jquery.nav.js'%}"></script>
    
    <!--====== Scroll It js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/scrollIt.min.js'%}"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/jquery.magnific-popup.min.js'%}"></script>
    
    <!--====== Main js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/main.js'%}"></script>
     <!--====== Main js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/index.js'%}"></script>

    <!--====== Gallery ======-->


    <script>
        function myFunction() {
        var x = document.getElementById("myDIV");
       
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        }
    </script>
    
<!-- <script>
    $(document).ready(function(){
      $("#demo").on("hide.bs.collapse", function(){
        $(".btn").html('<span class="glyphicon glyphicon-collapse-up"></span> Open');
      });
      $("#demo").on("show.bs.collapse", function(){
        $(".btn").html('<span class="glyphicon glyphicon-collapse-down"></span> Close');
      });
    });
    </script> -->

    
</body>

</html>